<% provide(:title, "Students") %>
<h1>Students at <%= school_name %></h1>

<div class="pagination">
  <%= will_paginate @users, :container => false %>
  <div class="center"><%= page_entries_info %></div>
</div>

<ul class="users">
  <% @users.each do |user| %>
      <%= render user %>
  <% end %>
</ul>

<div class="pagination">
  <%= will_paginate @users, :container => false %>
  <div class="center"><%= page_entries_info %></div>
</div>
