<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "ePerlego", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <% if logged_in? %>
            <% if current_user.admin %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= school_name %> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <% if current_user.school_id == 1 %>
                    <li class="center"><%= link_to "Super Users", users_path %></li>
                    <li class="center"><%= link_to "Add New Super User", adduser_path %></li>
                    <li class="divider"></li>
                    <li class="center"><%= link_to "Schools", schools_path %></li>
                    <li class="center"><%= link_to "Add New School", new_school_path %></li>
                  <% else %>
                    <li class="center"><%= link_to "Users", users_path %></li>
                    <li class="center"><%= link_to "Add New User", adduser_path %></li>
                    <li class="divider"></li>
                    <li class="center"><%= link_to "School Details", school_path(current_user.school_id) %></li>
                    <li class="center"><%= link_to "School Settings", edit_school_path(current_user.school_id) %></li>
                  <% end %>
                </ul>
              </li>
            <% else %>
                <li><%= link_to "Users", users_path %></li>
            <% end %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.name.split[0] %>
                <%= gravatar_for current_user, size: 30, padding: 5 %>
                <b class="caret" style="margin-left: 45px;"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="center"><%= link_to "Profile",  "/u/#{current_user.id}" %></li>
                <li class="center"><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li class="center"><%= link_to "Logout",   logout_path, method: :delete %></li>
              </ul>
            </li>
        <% else %>
            <li><%= link_to "About",  about_path %></li>
            <li><%= link_to "Login",    login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>